# This is a Docker Compose file template for deploying a movie application.
# The file is generated using a Jinja2 template and is intended to be used with Ansible to automate the deployment of the application.
version: '3'
services:
  client:
    image: {{ ecr_registry }}/dev-movie-app-client-repo:latest
    container_name: client
    ports:
     - "8000:8000"
    networks:
     - front-tier 

  server:
    image: {{ ecr_registry }}/dev-movie-app-server-repo:latest
    container_name: server
    ports:
     - "3000:3000"
    networks:
     - back-tier
     - front-tier

  mongo:
     image: mongo
     container_name: mongodb
     environment:
       - PUID=1000
       - PGID=1000
     volumes:
        - /home/ubuntu/mongodb/database:/data/db
     networks:
      - back-tier

networks:
    front-tier:
    back-tier: